*
!week7/
!week7/stack/
!week7/stack/BOOLEAN.H
!week7/stack/main.c
!week7/stack/stack.c
!week7/stack/stack.h
!week7/stack/conversion.c
!week7/stack/conversion.h
!week7/stack/spnrsll.c
!week7/stack/spnrsll.h
!week7/queue/
!week7/queue/BOOLEAN.H
!week7/queue/spnrsll.c
!week7/queue/spnrsll.h
!week7/queue/main.c
!week7/queue/queue.c
!week7/queue/queue.h
!.gitignore